/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #004E4F;


// Code blocks
$code-block-bg-alpha: -.8;









// The left hand sidebar
$grid-sidebar-width: 300px !default;

// The main body
$grid-body-width: 100px;

// The right hand margin bar
$grid-margin-width: 300px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 1.5rem !default;
